html, body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.header-home {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 3px;
    background-color: rgb(215, 215, 215);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 60px;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #b4b4b4;
}

.main-home {
    background-color: #0c0c13;
    width: 100vw; 
    min-height: 100vh;
    margin: 0;
}

.floating-btn-home {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(195, 195, 195, 0.15);
    color: white;
    padding: clamp(12px, 2vw, 20px) clamp(24px, 4vw, 40px);
    font-size: clamp(1.2rem, 3vw, 2rem);
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    z-index: 2;
}

.floating-btn-home:hover {
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.bgimg-home {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../bg_home_lg.jpg");
    min-height: 100vh;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bg-gradient, linear-gradient(to top, rgba(35, 33, 33, 0.8), rgba(19, 18, 18, 0.2))); 
        z-index: 0;
    }
}

.caption-home {
    position: absolute;
    left: 10px;
    top: 20%;
    width: 50%;
    z-index: 1;
}

.subtitle-home {
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: clamp(10px, 2vw, 20px);;
    font-family: "Arial", serif;
    font-weight: 500;
    color: white;
}

.btn-group-home {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px; 
}

.btn-home {
    padding: 10px 20px; 
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: clamp(10px, 1.2vw, 15px);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-student-home {
    background-color: white;
    color: rgb(22 20 31);
    border: 2px solid rgb(22 20 31);
    margin-right: 10px;
}

.btn-home:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(22 20 31);
    border-radius: 34px;
    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: rgb(155, 155, 155);
}

input:checked + .slider::before {
    transform: translateX(24px);
}

.main-chat {
    background-color: #0c0c13;
    width: 100vw; 
    min-height: 100vh;
    margin: 0;
}

