<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/assets/logo.png">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header-home">
        <div class="btn-group-home">
            <!-- <button class="btn-home btn-employer-home">Employer</button> -->
            <button class="btn-home btn-student-home">Click here to Begin</button>
        </div>
    </header>

    <div class="main-home">
        <div class="bgimg-home">
            <div class="caption-home">
                <img src="/static/assets/title_logo.svg" alt="Internsphere Logo">
                <p class="subtitle-home">for Students, by Students</p>
            </div>
        </div>

        <footer class="footer-home">
            <div class="quote-container-home">
                <p class="edu-quote-home">
                    <em>"The beautiful thing about learning is that no one can take it away from you."</em> — B.B. King
                </p>
            </div>
        </footer>
    </div>

</body>
</html>
