<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/assets/logo.png">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main-login">
        <div class="bgimg-login">
            <div class="caption-login">
                <img src="/static/assets/title_logo.svg" alt="Internsphere Logo">
            </div>

            <div class="form-login">
                <h2 class="headline-login">Create an account</h2>

                <form action="#" method="POST">
                
                    <label for="email">Email:</label>
                    <input 
                        type="email" 
                        id="email" 
                        name="email" 
                        required 
                    >

                    <label for="linkedin">LinkedIn ID:</label>
                    <input 
                        type="url" 
                        id="linkedin" 
                        name="linkedin" 
                        placeholder="https://www.linkedin.com/in/your-profile" 
                        required 
                    >

                    <label for="username">Username:</label>
                    <input 
                        type="text" 
                        id="username" 
                        name="username" 
                        required 
                    >

                    <label for="password">Password:</label>
                    <input 
                        type="password" 
                        id="password" 
                        name="password" 
                        required 
                    >

                    <button type="submit">Register</button>

                </form>
            </div>
        </div>
    </div>
    
</body>
</html>
